/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: white;
}
/*  _typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.2;
  }
  
  p {
    margin-bottom: 5px;
    font-size: 18px;
  }
  